<footer>
    <div class="back-to-top">
        <p><a href="#">Back to Top</a></p>
    </div>
    <span class="title">{{ title }}</span>
    <div class="details">
        <div>
            <span>Get to Know Us</span>
            <ul>
                <li>
                    Careers
                </li>
                <li>
                    About Stephen Store
                </li>
                <li>
                    Investor
                </li>
                <li>
                    Stephen Devices
                </li>
            </ul>
        </div>
        <div>
            <span>Make Money with Us</span>
            <ul>
                <li>
                   Sell our Product
                </li>
                <li>
                    Sell on Stephen Business
                </li>
                <li>
                    Sell apps on Stephen Store
                </li>
                <li>
                    Become an Affiliate
                </li>
                <li>
                    Advertise Your Products
                </li>
                <li>
                    Self-Publish with Us
                </li>
            </ul>
        </div>
        <div>
            <span>Stephen Payment Products</span>
            <ul>
                <li>
                    Stephen Business Card
                </li>
                <li>
                    Shop with Points
                </li>
                <li>
                    Reload Your Balance
                </li>
                <li>
                    Stephen Currency Converter 
                </li>
            </ul>
        </div>
        <div>
            <span>Let Us Help You</span>
            <ul>
                <li>
                    Stephen Help
                </li>
                <li>
                    Your Account
                </li>
                <li>
                    Your Orders
                </li>
                <li>
                    Returns & Replacements
                </li>
            </ul>
        </div>
        <div>
            <span>Stephen Payment Products</span>
            <ul>
                <li>
                    Stephen Business Card
                </li>
                <li>
                    Shop with Points
                </li>
                <li>
                    Reload Your Balance
                </li>
                <li>
                    Stephen Currency Converter 
                </li>
                <li>
                    Stephen Help
                </li>
                <li>
                    Stephen Assistant
                </li>
            </ul>
        </div>
    </div>
</footer>
