header {
  display: flex;
  flex-direction: column;
  background: #33B5E5;
  color: #fff;
  padding-bottom: 10px;
}

header div:first-child {
  text-align: center;
}
header img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header div:first-child {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
}
.signin-and-cart-container {
  display: flex;
  justify-content: space-between;
  width: 27%;
}

.signin {
  padding-top: 10px;
}

.cart {
  font-size: large;
  align-items: center;
  margin-right: 50px;
  padding-top: 10px;
}

.cart-count {
  font-size: 18px;
  position: relative;
  top: -21px;
  left: 73px;
}
  .search-bar-container {
    width: 70%;
  }

  @media screen and (max-width: 767px) { 
    .container {
      flex-direction: column;
    }
    .search-bar-container {
      width: 90%;
      margin-bottom: 20px;
    }
    .signin-and-cart-container {
      width: 90%;
      margin: auto;
    }
    .cart {
      margin-right: 0px;
    }
  }


/* @media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  header div:first-child {
    text-align: center;
  }
  a {
    font-size: medium;
  }
  .cart {
    margin-right: 0px;
  }
   .search-bar-container {
    display: none;
  }

  .cart-count {
    left: 12px;
    top: 10px;
  }
} */