header {
  display: flex;
  flex-direction: row;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header div:first-child {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
}

.signin {
  display: flex;
  align-items: center;
}

.cart {
  font-size: larger;
  align-items: center;
  margin-right: 50px;
  height: 100px;
}

.cart-count {
  font-size: 15px;
  border-radius: 50%;
  background-color: #a435f0;
  color:  whitesmoke;
  position: relative;
  height: 30px;
  width: 30px;
  padding-top: 5px;
  left: 35px;
}

@media screen and (min-width: 1000px) and (max-width: 1600px){
  header {
    flex-direction: column;
  }

  header div:first-child {
    text-align: center;
  }
  .search-bar-container {
    width: 70%;
  }

}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  header div:first-child {
    text-align: center;
  }
  a {
    font-size: medium;
  }
  .cart {
    margin-right: 0px;
  }
   .search-bar-container {
    display: none;
  }

  .cart-count {
    left: 12px;
    top: 10px;
  }
}