form {
    width: 100%;
}
input[type=text] {
    width: 80%;
    height: 45px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border: 1px solid #ccc;  
}

form button {
    padding: 6px 10px;
    width: 55px;
    height: 45px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-result-item {
    border-style: outset;
    cursor: pointer;
}
.search-result {
    position: absolute;
    width: 55%;
    margin-left: 60px;
    z-index: 1;
    color: black;
}


@media screen and (max-width: 767px) {
    form button {
        margin-right: 0px;
    }
}