input[type=text] {
    width: 1000px;
    height: 45px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border: 1px solid #ccc;  
}

form button {
    padding: 6px 10px;
    width: 55px;
    height: 45px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-result {
    position: absolute;
    z-index: 1;
    color: black;
    width: 1000px;
}

.search-result-item {
    border-style: outset;
    cursor: pointer;
}

@media screen and (min-width: 1000px) and (max-width: 1600px){
    form {
        width: 100%;
    }
    input[type=text] {
        width: 80%;
    }
    button {
        width: 50px;
    } 
    .search-result {
        position: absolute;
        width: 52%;
        margin-left: 60px;
    }
}

@media screen and (max-width: 1000px) {
    input[type=text] {
        width: 80%;
    }
}