@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: lightblue;
  height: 30px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.slideshow {
  width: 1400px;
  margin-left: 80px;
  height: 500px;
  border: 4px solid grey;
  border-style: outset;
  background-image: url("https://source.unsplash.com/hGLc8L-EcCM/1400x500");
  animation-name: slideshow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 6s;
}

@keyframes slideshow{
  20% {
    background-image: url("https://source.unsplash.com/mIqyYpSNq3o/1400x500");
  }
  40% {
    background-image: url("https://source.unsplash.com/wL7pwimB78Q/1400x500");
  }
  60% {
    background-image: url("https://source.unsplash.com/KzidBAES-uE/1400x500");
  }
  80% {
    background-image: url("https://source.unsplash.com/5UJbKYUjFCk/1400x500");
  }
  100% {
    background-image: url("https://source.unsplash.com/At7ozqXbq8I/1400x500");
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .slideshow {
    width: 600px;
    background-image: url("https://source.unsplash.com/hGLc8L-EcCM/600x500");
  }

  @keyframes slideshow{
    20% {
      background-image: url("https://source.unsplash.com/mIqyYpSNq3o/600x500");
    }
    40% {
      background-image: url("https://source.unsplash.com/wL7pwimB78Q/600x500");
    }
    60% {
      background-image: url("https://source.unsplash.com/KzidBAES-uE/600x500");
    }
    80% {
      background-image: url("https://source.unsplash.com/5UJbKYUjFCk/600x500");
    }
    100% {
      background-image: url("https://source.unsplash.com/At7ozqXbq8I/600x500");
    }
  }
}

@media screen and (max-width: 1000px) {
  .slideshow {
    width: 100%;
    height: 400px;
    background-image: url("https://source.unsplash.com/hGLc8L-EcCM/500x400");
  }

  @keyframes slideshow{
    20% {
      background-image: url("https://source.unsplash.com/mIqyYpSNq3o/500x400");
    }
    40% {
      background-image: url("https://source.unsplash.com/wL7pwimB78Q/500x400");
    }
    60% {
      background-image: url("https://source.unsplash.com/KzidBAES-uE/500x400");
    }
    80% {
      background-image: url("https://source.unsplash.com/5UJbKYUjFCk/500x400");
    }
    100% {
      background-image: url("https://source.unsplash.com/At7ozqXbq8I/500x400");
    }
  }
}

@media screen and (max-width: 600px) {
  .slideshow {
    width: 100%;
    height: 400px;
    background-image: url("https://source.unsplash.com/hGLc8L-EcCM/250x250");
  }

  @keyframes slideshow{
    20% {
      background-image: url("https://source.unsplash.com/mIqyYpSNq3o/250x250");
    }
    40% {
      background-image: url("https://source.unsplash.com/wL7pwimB78Q/250x250");
    }
    60% {
      background-image: url("https://source.unsplash.com/KzidBAES-uE/250x250");
    }
    80% {
      background-image: url("https://source.unsplash.com/5UJbKYUjFCk/250x250");
    }
    100% {
      background-image: url("https://source.unsplash.com/At7ozqXbq8I/250x250");
    }
  }
}